pipeline/Ingest_agent_ICL.json
{
	"name": "Ingest_agent_ICL",
	"properties": {
		"activities": [
			{
				"name": "get hwm_date from csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "agent_hwm_csv",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get the latestdate from table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get hwm_date from csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(create_timestamp) as last_create_timestamp from dbo.agent",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy tables to adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get the latestdate from table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.agent where create_timestamp > '@{activity('get hwm_date from csv').output.firstRow.Prop_0}' and create_timestamp <= '@{activity('get the latestdate from table').output.firstRow.last_create_timestamp}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "generic_parquet_ds",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "agent"
						}
					}
				]
			},
			{
				"name": "update agent hwm date in csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy tables to adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('get the latestdate from table').output.firstRow.last_create_timestamp}' from dbo.agent",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "agent_hwm_csv",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-27T08:48:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}